{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %}Capti | Readers {% endblock %}

{% block main %}

<script>
	var root = document.documentElement;
	root.className += ' readers';
</script>

<div class="capti--slider">
	<div class="capti--slider__slide"></div>
    <div class="capti--slider__overlay">
        <svg class="capti--slider__overlay-svg" viewBox="0 0 10 10" preserveAspectRatio="none">
            <polygon points="0,0 10,0 10,10 1,10"></polygon>
        </svg>
    </div>
	<div class="container">
		<div class="capti--slider__devices">
			<div class="capti--slider__devices-ipad"></div>
            <div class="capti--slider__devices-laptop"></div>
			<div class="capti--slider__devices-iphone"></div>
		</div>
		<div class="capti--slider__content">
			<div class="capti--slider__logo"><span class="capti--icon capti--icon-1"></span></div>
			<h1 class="capti--slider__title">Readers</h1>
			<div class="capti--slider__subtitle">Students and educators<br> Busy professionals <br>Auditory learners <br>Visually impaired <br>Avid readers <br>Commuters <br>Travellers <br> Dyslexic <br>Athletes</div>
		</div>
	</div>
</div>

<div class="capti--call_to_action capti--call_to_action-top">
	<div class="container">
		<div class="capti--call_to_action__container">
			<div class="capti--call_to_action__text">
				<p>Capti is the best productivity app for listening to e-books, documents, and web pages. It is perfect for learning English and other languages, as well as for listening to any reading materials on the go and hands&#8209;free.</p>
				<p>Capti is universally accessible, and people who have vision impairments, dyslexia, and other print disabilities use Capti as an assistive technology. People with and without disabilities use Capti to be more productive at school and at work, or they can relax and listen to news articles and e-books for pleasure.</p>
			</div>

			<div class="capti--call_to_action__buttons">
				<hr>
				<p>Create an account and explore free and premium features</p>
				<a href="{{linkPath}}" class="capti--call_to_action__singup">Sign Up Now <svg version="1.1" class="capti--button__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16"><path d="M7.8,1.2c0,0.3,0.1,0.6,0.3,0.8L13,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H13L8.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0L9.8,0.3 c-0.4-0.4-1.2-0.4-1.6,0C7.9,0.6,7.8,0.8,7.8,1.2z"/></svg></a>
			</div>
		</div>
	</div>
</div>

<div class="capti--seo">
	<div class="container">
		<div class="col-md-8">
			<h2>Why Capti</h2>
			<ul>
				<li>The best way to listen to documents from Dropbox, Google Drive, OneDrive</li>
				<li>The easiest access to books from Bookshare and Gutenberg Project</li>
				<li>The best quality OCR for converting photos and PDFs to readable text</li>
				<li>The best quality text-to-speech voices reading in 20+languages</li>
				<li>The only reading tool offering dynamically created flashcard games</li>
				<li>The only tool with contextual word/phrase translation in 100+ languages</li>
				<li>The best special needs solution of 2017 (according to EdTech Digest)</li>
			</ul>
		</div>
		<div class="col-md-7">
			<h2>Who is Capti for?</h2>
			<div class="row">
				<div class="col-sm-6">
					<ul>
						<li>Students and educators</li>
						<li>English language learners</li>
						<li>Auditory and visual learners</li>

					</ul>
				</div>
				<div class="col-sm-6">
					<ul>
						<li>Readers that value mobility</li>
						<li>Professionals and retirees</li>
						<li>People with disabilities</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<h2>Some ideas of where Capti can be used</h2>
			<div class="row">
				<div class="col-sm-6">
					<ul>
						<li>On the bus</li>
						<li>On the subway</li>
						<li>At the gym</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul>
						<li>In the kitchen</li>
						<li>In the car</li>
						<li>On the airplane</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="capti--photo__fly">
		<i class="capti--photo__fly-icon capti--photo__fly-icon-1"></i>
		<i class="capti--photo__fly-icon capti--photo__fly-icon-2"></i>
		<i class="capti--photo__fly-icon capti--photo__fly-icon-3"></i>
		<div class="capti--photo__fly-photo"></div>
	</div>

</div>

<div class="capti--video capti--video__bottom">
    <div class="container">
        <ul class="howitwork-ul clearfix">
            <li class="col-sm-4">
                <div class="howitwork-text">
                    <div class="howitwork-title">Capti Voice for iOS</div>
                </div>
                <div class="howitwork-video">
                    <div class="youtube-container">
                        <div class="youtube-player" data-id="dcJ-2RTyTLk"></div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4">
                <div class="howitwork-text">
                    <div class="howitwork-title">Capti Voice and Bookshare</div>
                </div>
                <div class="howitwork-video">
                    <div class="youtube-container">
                        <div class="youtube-player" data-id="o54CM_JQiJc"></div>
                    </div>
                </div>
            </li>
            <li class="col-sm-4">
                <div class="howitwork-text">
                    <div class="howitwork-title">Word Challenge Game</div>
                </div>
                <div class="howitwork-video">
                    <div class="youtube-container">
                        <div class="youtube-player" data-id="hlX0N2RhXvo"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="capti--seo capti--seo__with-img">
	<div class="container">
		<div class="col-sm-6">
			<h2>Where is Capti useful</h2>
			<p>You can add morning news to your Playlist and start listening to it on your iPad at home, continue listening from the same spot on the iPhone during your commute.</p>
			<p>Add some documents to your Playlist online when you are at work or at school; Photograph the pages of the magazine or a book you never have time to read.</p>
			<p>Catch up with the reading while you are exercising at the gym; and relax on the couch at home while listening to your computer narrating your favorite e-book.</p>
			<p>Capti will synchronize your Playlist among all your devices, making the transitions seamless. And you don’t need internet access to read and listen.</p>
			<p><a target="_blank" href="https://itunes.apple.com/us/app/capti-web-player/id437052502" class="getcapti-button-appstore"></a></p>
		</div>
	</div>
</div>

<div class="capti-feature-background">
    <div class="container">
        <div class="capti-feature-top">
            <div class="capti-feature-block capti-feature-block1">
                <div class="capti-feature-triangle capti-feature-triangle-topleft">
                    <div class="capti-feature-icon"></div>
                    <svg id="triangle-topleft" class="svg-triangle" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon points="10,10 0,10 0,0 "></polygon>
            </svg>
                </div>
                <div class="capti-feature-title">Any Website</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>News, blogs, articles, e-books, etc.</li>
                        <li>Skip ads, links and other clutter</li>
                        <li>Extract multipage articles</li>
                    </ul>
                </div>
            </div>
            <div class="capti-feature-block capti-feature-block2">
                <div class="capti-feature-triangle capti-feature-triangle-topright">
                    <div class="capti-feature-icon"></div>
                    <svg id="triangle-topright" class="svg-triangle" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon points="0,10 10,0 11,10 "></polygon>
            </svg>
                </div>
                <div class="capti-feature-title">Cloud Services</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>Google Drive, Dropbox, and OneDrive</li>
                        <li>Read it later: Pocket and Instapaper</li>
                        <li>PDF, Word, EPUB, DAISY, HTML, etc.</li>
                    </ul>
                </div>
            </div>
            <div class="capti-feature-block capti-feature-block3">
                <div class="capti-feature-title">Book Libraries</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>Bookshare: 500K+ titles</li>
                        <li>Gutenberg: 50K+ titles</li>
                    </ul>
                </div>
                <div class="capti-feature-icon capti-feature-icon-free"></div>
            </div>
        </div>
        <div class="capti-feature-middle">
            <div class="capti-feature-middle-text1">Online, Windows, Mac</div>
            <div class="capti-feature-middle-icon"></div>
            <div class="capti-feature-middle-text2">iPhone, iPad, Chromebook</div>
        </div>
        <div class="capti-feature-down">
            <div class="capti-feature-block capti-feature-block4">
                <div class="capti-feature-icon capti-feature-icon-free"></div>
                <div class="capti-feature-title">Learn Language</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>Learn by playing a vocabulary game <br>(it adapts to any proficiency level!)</li>
                        <li>Practice listening comprehension with your favorite books and current news</li>
                        <li>Make use of our sophisticated word and phrase translation tool</li>
                    </ul>
                </div>
            </div>
            <div class="capti-feature-block capti-feature-block5">
                <div class="capti-feature-triangle capti-feature-triangle-bottomleft">
                    <div class="capti-feature-icon"></div>
                    <svg id="triangle-bottomleft" class="svg-triangle" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon points="0,0 10,0 0,5 "></polygon>
            </svg>
                </div>
                <div class="capti-feature-title">Listen and Read</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>Listen to any text as if it were a human-narrated audiobook</li>
                        <li>Choose among high quality text-to-speech voices in 26 languages</li>
                        <li>Take advantage of accessibility for vision loss and dyslexia</li>
                    </ul>
                </div>
            </div>
            <div class="capti-feature-block capti-feature-block6">
                <div class="capti-feature-triangle capti-feature-triangle-bottomright">
                    <div class="capti-feature-icon"></div>
                    <svg id="triangle-bottomright" class="svg-triangle" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon points="0,0 11,0 10,5 "></polygon>
            </svg>
                </div>
                <div class="capti-feature-title">Save for Later</div>
                <div class="capti-feature-text">
                    <ul>
                        <li>If you want to save something for later - add it to Capti Playlist</li>
                        <li>Sort content into Playlists by subject</li>
                        <li>Find anything with full-text search</li>
                        <li>Sync and switch between devices</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="capti--call_to_action">
	<div class="container">
		<div class="capti--call_to_action__container">
			<div class="capti--call_to_action__text">
				<div class="capti--call_to_action__suptitle">Start using Capti now</div>
				<div class="capti--call_to_action__title">Create an account and explore free and premium features</div>
				<a href="mailto:support@captivoice.com" class="capti--call_to_action__email"><i class="fa fa-envelope-o"></i>support@captivoice.com</a>
				<a href="tel:+8885337884" class="capti--call_to_action__phone"><i class="fa fa-phone"></i>888-533-7884</a>
			</div>

			<div class="capti--call_to_action__buttons">
				<a href="{{linkPath}}" class="capti--call_to_action__singup">Sign Up Now <svg version="1.1" class="capti--button__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16"><path d="M7.8,1.2c0,0.3,0.1,0.6,0.3,0.8L13,6.9H1.3C0.6,6.9,0.1,7.4,0.1,8s0.5,1.1,1.1,1.1H13L8.1,14c-0.2,0.2-0.3,0.5-0.3,0.8 s0.1,0.6,0.3,0.8c0.4,0.4,1.2,0.4,1.6,0l6.8-6.8c0,0,0.1-0.1,0.1-0.2c0.2-0.3,0.2-0.7,0.1-1c0-0.1-0.1-0.3-0.2-0.4l0,0L9.8,0.3 c-0.4-0.4-1.2-0.4-1.6,0C7.9,0.6,7.8,0.8,7.8,1.2z"/></svg></a>
			</div>
		</div>
	</div>
</div>

<script>
	function labnolThumb(e){return'<img class="youtube-thumb" src="//i.ytimg.com/vi/'+e+'/hqdefault.jpg"><div class="play-button"></div>'}function labnolIframe(){var e=document.createElement("iframe");e.setAttribute("src","//www.youtube.com/embed/"+this.parentNode.dataset.id+"?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&showinfo=0"),e.setAttribute("frameborder","0"),e.setAttribute("id","youtube-iframe"),e.setAttribute("allowfullscreen",""),this.parentNode.replaceChild(e,this)}for(var v=document.getElementsByClassName("youtube-player"),n=0;n<v.length;n++){var p=document.createElement("div");p.innerHTML=labnolThumb(v[n].dataset.id),p.onclick=labnolIframe,v[n].appendChild(p)}
</script>

{% endblock %}
