.home {
	.capti {
		&--slider {
			&__slide {
				background: url(../img/background/capti--home__background.jpg) center -10vh no-repeat;
				background-size: cover;
			}
			&__overlay {
				@include size(53% 100%);
				polygon {
					fill: #fff;
					opacity: .8;
				}
			}

			&__devices {
				&-ipad {
					right: 50%;
					top: 2%;
				}
				&-laptop {
					right: -1%;
					top: 15%;
				}
				&-iphone {
					right: 5%;
					bottom: 2%;
				}
			}
			&__content {
				padding-left: 58%;
			}
			&__title {
				font-size: 1.5rem;
				font-weight: 400;
				text-transform: none;
				color: #333;
				margin-bottom: 30px;
				margin-top: -60px;
				strong {
					font-weight: 500;
				}
			}
		}

		&--icon {
			margin: 15px auto 20px;
		}

		&--links {

			background: url(../img/waves.svg) center 105% repeat-x;
			z-index:1;

			&__list {
				position: relative;
				max-width: 1300px;
				padding: 0 15px;
				margin: -50px auto 40px;

				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				a {
					display: block;
					background-color: #fff;
					box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
					border-top: 5px solid #1290cc;
					max-width: 300px;
					min-height: 250px;
					padding: 30px;
					color: #666;
					&:hover, &:focus {
						text-decoration: none;
						.capti--links__arrow {
							width: 186px;
							text-indent: 0;
							border-color: #2280c7;
							&:hover {
								background-color: #2280c7;
								color: #fff;
								path {
									fill: #fff;
								}
							}
						}
					}
					span {
						display: block;
						text-align: center;
					}

				}
			}

			&__title {
				font-size: 1.375rem;
				font-weight: 400;
				text-transform: uppercase;
			}

			&__subtitle {
				font-size: 1rem;
				margin: 20px 0;
			}

			&__arrow {
				width: 30px;
				border-radius: 30px;
				border: 2px solid transparent;
				padding: 10px 30px;
				overflow: hidden;
				text-indent: -112px;
				font-weight: 400;
				color: #2280c7;
				white-space: nowrap;
				margin: auto;
				transition: width .3s ease, border-color .3s ease, text-indent .3s ease, background-color .3s ease;
				svg {
					display: inline-block;
					vertical-align: top;
					@include size(30px 24px);
					margin-left: 10px;
					path {
						fill: #2280c7;
						transition: fill .3s ease;
					}
				}
			}
		}

		&--call_to_action {
			padding: 45px 0;
		}

	}
}