.teachers {
	.capti {
		&--slider {
			z-index: 2;
			&__slide {
				background: url(../img/background/capti--teacher__background.jpg) center -15vh no-repeat;
				background-size: cover;
				@media(max-width: 1200px) {
					background-position: center center;
				}
			}
			&__overlay {
				@include size(45% 100%);
				&-svg {
					left: 25%;
					width: 140%;
					@media(max-width: 1200px) {
						left: 0;
					}
				}
				polygon {
					fill: #fff;
					opacity: .8;
				}
			}

			.container {
				max-width: none;
				width: auto;
			}

			&__devices {

				&-laptop {
					right: -12%;
					bottom: -20%;
					transform: translate3d(0, 80px, 0);
					animation: run_device 1.5s cubic-bezier(0.4, 0, 0.2, 1) .2s 1 forwards, opacity_device .7s linear .2s 1 forwards;
				}
				&-iphone {
					right: -3%;
					bottom: -22%;
					transform: translate3d(0, 80px, 0);
					animation: run_device 1.5s cubic-bezier(0.4, 0, 0.2, 1) .5s 1 forwards, opacity_device .7s linear .5s 1 forwards;
				}
			}
			&__content {
				padding-left: 75%;
				@media(max-width: 1200px) {
					padding-left: 65%;
				}
				@media(max-width: 600px) {
					padding-left: 0;
					margin-top:-100px;
				}
			}
		}

		&--icon {
			margin: 0 0 7px;
			&-1 {
				&:before {
					@include sprite(teacher_dark);
				}
			}
		}

		&--photo {
			&__fly {
				top: 250px;
				&-photo {
					background-image: url(../img/background/capti--teacher__background-fly.jpg);
				}
			}

			&__1 {
				background-image: url(../img/background/capti--teacher__background-row-1.jpg);
			}
			&__2 {
				background-image: url(../img/background/capti--teacher__background-row-2.jpg);
				@media(max-width: 767px) {
					display: none;
				}
			}
			&__3 {
				background-image: url(../img/background/capti--teacher__background-row-3.jpg);
				@media(max-width: 767px) {
					display: none;
				}
			}
		}

		&--call_to_action-top {
			padding: 130px 0 45px;
			@media(max-width: 600px) {
				padding: 30px 0;
			}
			&:before {
				background-position: center top;
				@media(max-width: 992px) {
					background-size: auto 150px;
				}
			}
			.capti--call_to_action {
				&__container {
					display: block;
				}
				&__text {
					max-width: 850px;
					width: 100%;
					margin: 0 auto 40px;
					font-size: 1.125rem;
					font-weight: 400;
					line-height: 160%;
				}
				&__buttons {
					max-width: 850px;
					margin: 0 auto;
					text-align: left;
					white-space: normal;
					hr {
						opacity: .3;
					}
					p {
						font-size: 1.375rem;
						font-weight: bold;
						line-height: 120%;
						color: #fff;
						margin-bottom: 30px;

					}
				}
			}
		}

		

	}
}