// Content

.capti {

	&--button {
		a {
			display: inline-block;
			border: 2px solid #2280c7;
			border-radius: 23px;
			padding: 10px 30px;
			font-weight: 600;
			line-height: 24px;
			text-transform: uppercase;
			transition: background-color .3s ease, color .3s ease;
			&:hover, &:focus {
				background-color: #2280c7;
				color: #fff;
				text-decoration: none;
				path {
					fill: #fff;
				}
			}
		}
		&__arrow {
			display: inline-block;
			vertical-align: top;
			@include size(17px 24px);
			margin-left: 10px;
			path {
				fill: #2280c7;
				transition: fill .3s ease;
			}
		}
	}

	&--slider {
		position: relative;
		height: 700px;
		@media(max-width: 992px) {
			height: 550px;
		}
		@media(max-width: 600px) {
			height: auto;
		}
		&__slide {
			@include position(absolute, 0);
			@media(max-width: 600px) {
				@include p_el(before, null, null) {
					@include position(absolute, 0);
					background-color: rgba(#fff, .8);
				}
			}
		}
		&__overlay {
			@include position(absolute, 0 0 0 null);
			@include size(25% 100%);
			overflow: hidden;
			&-svg {
				@include position(absolute, 0 null null 0);
				@include size(100%);
			}
			@media(max-width: 600px) {
				display: none;
			}
			polygon {
				fill: #fff;
				opacity: .8;
			}
		}
		.container {
			position: relative;
			height: 100%;
			display: flex;
			align-items: center;
			@media(max-width: 600px) {
				display: block;
			}
		}

		&__devices {
			@include position(absolute, 0 50% 0 calc(50% - 50vw));
			@media(max-width: 600px) {
				@include position(relative, auto);
				height: 500px;
				transform: scale(.75) translateY(-25%);
			}
			div {
				position: absolute;
				background-position: center center;
				background-repeat: no-repeat;
				opacity: 0;
			}
			&-ipad {
				background-image: url(../img/ipad.png);
				background-size: 410px 529px;
				@include size(410px 529px);
			}
			&-laptop {
				background-image: url(../img/laptop.png);
				background-size: 843px 560px;
				@include size(843px 560px);
			}
			&-iphone {
				background-image: url(../img/iphone.png);
				background-size: 290px 483px;
				@include size(290px 483px);
			}
		}

		&__content {
			padding-left: 50%;
		}

		&__logo {
			border-bottom: 5px solid rgba(#1290cc, .3);
			margin-bottom: 15px;
			span {
				display: inline-block;
				vertical-align: top;
			}
		}
		&__pretitle {
			text-transform: none;
			font-weight: 600;
			line-height: 120%;
			margin-bottom: 20px;
			opacity: .8;
			max-width: 300px;
		}
		&__title {
			font-size: 1.775rem;
			font-weight: 400;
			color: #333;
			text-transform: uppercase;
			margin-bottom: 15px;
		}
		h1 {
			font-weight: 500;
		}
		&__subtitle {
			font-size: 1rem;
			font-weight: 400;
			line-height: 140%;
			max-width: 480px;
			width: 300px;
			margin-bottom: 40px;
			@media(max-width: 1200px) {
				width: 100%;
			}
		}

	}

	&--icon {
		@include size(70px);
		margin: 15px auto 20px;
		position: relative;
		@include p_el(before, null, null) {
			@include position(absolute, 0);
			margin: auto;
			font-size: 16px;
		}
		&-1 {
			&:before {
				@include sprite(teacher);
			}
		}
		&-2 {
			&:before {
				@include sprite(school);
				left: -15px;
				top: -15px;
			}
		}
		&-3 {
			&:before {
				@include sprite(collage);
			}
		}
		&-4 {
			&:before {
				@include sprite(reader);
			}
		}
	}

	&--awards {
		background-color: #fff;
		padding: 60px 0 50px;

		@media(max-width: 600px) {
			padding: 30px 0 20px;
		}

		&__title {
			margin-top: 10px;
			text-align: center;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 140%;
			color:#666
		}
		&__animation {
			position: relative;
			overflow: hidden;
			@include p_el(both, 50px, null) {
				@include position(absolute, 0 null 0 0);
				background: linear-gradient(to right, rgba(#fff,1) 0%,rgba(#fff,0) 100%);
				z-index: 2;
			}
			&:after {
				left: auto;
				right:0;
				background: linear-gradient(to right, rgba(#fff,0) 0%,rgba(#fff,1) 100%);
			}
		}
		&__list {
			position: relative;
			z-index: 0;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			width: 1498px;
			height: 195px;
			animation: awards_run 80s linear infinite;
			li{
				min-width: 220px;
				width: 220px;
				height: 160px;
				padding: 0 40px;
				opacity: .8;
				transition: opacity .3s ease;
				img {
					display: block;
					margin: 0 auto 15px;
					@include size(auto 120px);

				}
				&.capti--awards__2 {
					width: 304px;
					min-width: 304px;
				}
				&.capti--awards__3 {
					width: 304px;
					min-width: 304px;
				}
				&.capti--awards__4 {
					width: 230px;
					min-width: 230px;
				}
			}
		}
	}

	&--seo {
		position: relative;
		padding: 60px 0 120px;

		background: url(../img/waves.svg) center 105% repeat-x;
		overflow: hidden;

		@media(max-width: 1200px) {
			padding: 40px 0;
		}

		.container {
			position: relative;

			> [class*='col-sm'] + [class*='col-sm'], > [class*='col-md'] + [class*='col-md'], > [class*='col-md'] + [class*='col-sm'] {
				margin-top: 60px;
				@media(max-width: 992px) {
					margin-top: 40px;
				}
			}

		}
		h1, h2 {
			display: inline-block;
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 20px;
			border-bottom: 4px solid #1290cc;
			padding-bottom: 12px;
		}

		ul {
			padding-left: 40px;
			li {
				position: relative;
				font-size: 1.0625rem;
				font-weight: 400;
				margin-bottom: 7px;
				@include p_el(before, 15px, 14.31px) {
					@include position(absolute, 0 null 0 -30px);
					font-size: 16px;
					background: url(../img/icons/arrow.svg) center center no-repeat;
					background-size: 15px, 14.31px;
					margin: auto;
				}
			}
		}

		p {
			font-weight: 400;
			line-height: 28px;
		}

		&__with-img {
			padding: 90px 0;
			background: url(../img/explore-back.jpg) center -10vh no-repeat;
			background-size: cover;
			color: #fff;
			@include p_el(before, null, null) {
				@include position(absolute, 0);
				background: linear-gradient(to right, rgba(14,83,117,0.6) 0%,rgba(0,0,0,0) 100%);
				@media(max-width: 767px) {
					background: rgba(14,83,117,0.7);
				}
			}

			@media(max-width: 1200px) {
				background-position: center center;
			}
			@media(max-width: 767px) {
				padding: 60px 0 40px;
			}
			h1, h2 {
				display: block;
				padding: 0;
				margin-bottom: 30px;
				border-bottom:0;
			}
		}
		&__readmore {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-left: 4px solid #1290cc;
			background-color: rgba(227, 237, 242, 0.5);
			padding: 20px 30px;
			@media(max-width: 992px) {
				display: block;
			}
			h3 {
				font-weight: 500;
				color: #999;
				font-size: 1.3rem;
				text-transform: uppercase;
				i {
					font-size: 17px;
					opacity: .8;
					margin-right: 5px;
				}
			}
			p {
				font-size: 1.0625rem;
				margin: 0 0 0 4%;
				@media(max-width: 1200px) {
					margin:10px 0 0;
				}
				a {
					white-space: nowrap;
				}
				span {
					margin: 0 15px;
					color: rgba(#333, .3);
					@media(max-width: 479px) {
						opacity: 0;
					}
				}
				.fa {
					font-size: 15px;
					margin-right: 7px;
				}
			}
		}
	}

	&--photo {
		&__row {
			height: 450px;
			@media(max-width: 992px) {
				height: 280px;
			}
			.col-sm-4 {
				height: 100%;
				overflow: hidden;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		&__fly {
			@include position(absolute, null 0 null null);
			@include size(600px 400px);
			@media(max-width: 1200px) {
				@include size(320px 240px);
			}
			@media(max-width: 992px) {
				display: none
			}
			&-photo {
				position: relative;
				@include size(100%);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				box-shadow: 5px 10px 45px rgba(109, 112, 113, 0.25);
			}
			&-icon {
				display: inline-block;
				position: absolute;
				background-position: center center;
				background-repeat: no-repeat;
				margin: auto;
				opacity: .2;
				&-1 {
					left:0;
					right:50px;
					top: -140px;
					@include size(150px);
					background-image: url(../img/icons/icon-1.svg);
					background-size: 150px 150px;
				}
				&-2 {
					bottom: 0;
					left: -200px;
					@include size(175px);
					background-image: url(../img/icons/icon-2.svg);
					background-size: 175px 175px;
				}
				&-3 {
					left:200px;
					bottom: -190px;
					opacity: .3;
					@include size(170px);
					background-image: url(../img/icons/icon-3.svg);
					background-size: 170px 170px;
					@media(max-width: 1200px) {
						left:auto;
						right:0;
					}
				}
			}
		}
	}

	&--video {
		padding: 30px 0 10px;
		.howitwork-title {
			font-size: 1.25rem;
			font-weight: 600;
			color: #666;
			margin-bottom: 15px;
		}
		.howitwork-video {
			padding: 0;
		}
		&__top {
			border-bottom: 4px solid rgba(#1290cc, .15);
		}
		&__bottom {
			background-color: #fff;
			border-top: 4px solid rgba(#1290cc, .15);
		}
	}

	&--testimonial {
		padding: 60px 0;
		background: url(../img/waves.svg) center 100% repeat-x;
		background-size: auto 150px;
		z-index: 1;
		@media(max-width: 600px) {
			padding: 30px 0;
		}
		&__title {
			text-align: center;
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 45px;
		}

		&__container {
			position: relative;
		}
		&__slides {
			position: relative;
			padding: 0;
			margin: 0;
			height: 260px;
			list-style-type: none;
			overflow: hidden;
			@media(max-width: 992px) {
				height: 340px;
			}
		}
		.slide {
			@include position(absolute, 0 null null 0);
			@include size(100%);
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			z-index: 0;
			transform: translateX(100%);
			&.revers {
				transform: translateX(-100%);
			}
			@media(max-width: 700px) {
				justify-content: center;
				&:nth-of-type(1), &:nth-of-type(2) {
					.capti--testimonial__item:nth-of-type(1) {
						display: none;
					}
				}
				&:nth-of-type(3), &:nth-of-type(4) {
					.capti--testimonial__item:nth-of-type(2) {
						display: none;
					}
				}
			}
		}
		.showing {
			&, &.revers {
				transform: translateX(0);
				transition: transform 1s;
				z-index: 1;
			}
		}
		.showed {
			transform: translateX(-100%);
			transition: transform 1s;
			z-index: 1;
			&.revers {
				transform: translateX(100%);
			}
		}

		&__item {
			position: relative;
			background-color: #fff;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
			padding: 30px 40px;
			@include size(50% calc(100% - 10px));
			margin: 5px 15px;
			@media(max-width: 700px) {
				width: 100%;
				max-width: 360px;
			}
			@media(max-width: 479px) {
				padding: 20px;
			}
		}

		&__text {
			font-size: 1.25rem;
			font-style: italic;
			line-height: 140%;
			margin: 10px 0;
			font-weight: 300;
		}

		&__footer {
			@include position(absolute, null 40px 30px 40px);
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 30px;
			@media(max-width: 479px) {
				left: 20px;
				right: 20px;
				bottom: 20px;
			}
			&-stars {
				white-space: nowrap;
				margin-right: 10px;
				i {
					color: #deb827;
				}
			}
			&-info {
				color: #7d94a2;
				text-align: right;
			}
			&-user {
				font-weight: bold;
			}
			&-link {
				white-space: nowrap;
			}
		}

		&__controls {
			@include position(absolute, 50% null null -50px);
			font-size: 40px;
			line-height: 40px;
			margin-top:-20px;
			opacity: .5;
			z-index: 2;
			transition: opacity .3s ease, transform .3s ease;
			&:hover {
				opacity: .8;
				transform: scale(1.1);
			}
			&:focus {
				opacity: .8;
				outline: 0;
				box-shadow: none;
			}
			@media(max-width: 1440px) {
				left: -25px;
			}
			@media(max-width: 1365px) {
				left: -5px;
			}
			@media(max-width: 700px) {
				left: 15px;
			}
			&-next {
				left: auto;
				right:-50px;
				@media(max-width: 1440px) {
					right: -25px;
				}
				@media(max-width: 1365px) {
					right: -5px;
				}
				@media(max-width: 700px) {
					right: 15px;
				}
			}
		}

	}

	&--map {
		position: relative;
		z-index: 2;
		@include size(100% 100vh);
		h2 {
			@include position(absolute, 0 0 null 0);
			text-align: center;
			padding: 5vh;
			background-color: rgba(255,255,255,.5);
			font-size: 2.5rem;
			font-weight: 500;
			color: #6a878f;
			z-index: 2;
		}

		#map {
			@include size(100%);
			z-index: 1;
		}
		.leaflet-marker-pane {
			z-index: 700 !important;
		}
		.leaflet-control-attribution {
			display: none;
		}
	}

	&--call_to_action {
		position: relative;
		background-color: #2c5464;
		overflow: hidden;

		padding: 45px 0;

		@include p_el(before, null, null) {
			@include position(absolute, 0);
			background: url(../img/waves.svg) center center no-repeat;
			background-size: 110% auto;
			opacity: .05;
			z-index: 0;
			@media(max-width: 992px) {
				background-size: auto 150px;
			}
		}
		.container {
			position: relative;
			z-index: 1;
		}

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media(max-width: 992px) {
				display: block;
			}
		}

		&__text {
			font-weight: bold;
			color: #fff;
			width: 50%;
			@media(max-width: 992px) {
				width: 100%;
				margin-bottom: 30px;
			}
		}
		&__suptitle {
			font-size: 1rem;
			color: rgba(#fff, .5);
			margin-bottom: 10px;
		}
		&__title {
			font-size: 1.5rem;
			line-height: 140%;
			margin-bottom: 13px;
		}

		&__buttons {
			white-space: nowrap;
			@media(max-width: 600px) {
				white-space: normal;
			}
		}

		&__singup, &__getquote {
			display: inline-block;
			border-radius: 23px;
			padding: 10px 30px;
			font-weight: 600;
			line-height: 24px;
			text-transform: uppercase;
			transition: background-color .3s ease, color .3s ease;
			&:hover, &:focus {
				text-decoration: none;
			}
		}

		&__singup {
			border: 2px solid #2280c7;
			background-color: #2280c7;
			color: #fff;
			transition: background-color .3s ease, border-color .3s ease;
			.capti--button__arrow {
				display: inline-block;
				vertical-align: top;
				@include size(17px 24px);
				margin-left: 10px;
				path {
					fill: #fff;
					transition: fill .3s ease;
				}
			}
			&:hover, &:focus {
				background-color: darken(#2280c7, 5%);
				border: 2px solid darken(#2280c7, 5%);
				color: #fff;
				.capti--button__arrow {
					path {
						fill: #fff;
					}
				}
			}
		}

		&__getquote {
			border: 2px solid #fff;
			color: #fff;
			margin-left: 10px;
			&:hover, &:focus {
				background-color: #fff;
				color: #2280c7;
			}
			i {
				margin-right: 8px;
			}
			@media(max-width: 600px) {
				margin: 10px 0 0;
			}
		}

		&__email, &__phone {
			display: inline-block;
			vertical-align: top;
			font-size: 1rem;
			font-weight: 400;
			color: #fff;
			&:hover, &:focus {
				color: #fff;
			}
			i {
				margin-right: 8px;
				opacity: .7;
			}
		}
		&__phone {
			margin-left: 10px;
			border-left: 1px solid rgba(#fff, .5);
			padding-left: 15px;
			@media(max-width: 479px) {
				border:0;
				padding: 0;
				margin:10px 0 0;
				display: block;
			}
		}

	}

	&--dowload_some {
		position: relative;
		padding: 60px 0;
		background: url("https://devel.captivoice.com/capti-site/themes/capti/images/explore-new/explore-back.jpg") no-repeat fixed center 20vh / cover;
		box-shadow: inset 0 0 0 3px rgba(0,0,0,.1);
		@include p_el(before, null, null) {
			@include position(absolute, 0);
			background-color: rgba(1,136,200, .75);
			background-image: linear-gradient( 135deg, #0485c3 0%, #6cb97e 100%);
			opacity: .75;
			z-index: 0;
		}
		.container {
			position: relative;
			z-index: 1;
			text-align: center;
		}
		h3 {
			margin-bottom: 30px;
			font-size: 2.25rem;
			font-weight: bold;
			color: #fff;
		}
		p {
			margin:0;
		}
	}

}



.getcapti-button-appstore {
    background: url(https://devel.captivoice.com/capti-site/themes/capti/images/app_store_button.svg) no-repeat center center;
    background-size: 170px 50px;
    display: inline-block;
    height: 50px;
    width: 170px;
}
@keyframes awards_run {
  0% {
    left:0;
  }
  100% {
    left:-1498px;
  }
}
@keyframes run_device {
    to {transform: translate3d(0, 0, 0);}
}
@keyframes opacity_device {
    to {opacity: 1;}
}
