$icons: (
      sprite: (width: 888px, height: 812px, svgPath: $PathCss+'img/sprite.svg'),
    college: (width: 60px, height: 60px, backgroundX: 0px, backgroundY: 0px),
    college_dark: (width: 60px, height: 60px, backgroundX: -70px, backgroundY: -70px),
    college_white: (width: 49px, height: 49px, backgroundX: -140px, backgroundY: -140px),
    reader: (width: 60px, height: 60px, backgroundX: -199px, backgroundY: -199px),
    reader_dark: (width: 60px, height: 60px, backgroundX: -269px, backgroundY: -269px),
    reader_white: (width: 49px, height: 49px, backgroundX: -339px, backgroundY: -339px),
    school: (width: 95.3px, height: 68px, backgroundX: -398px, backgroundY: -398px),
    school_dark: (width: 95.3px, height: 68px, backgroundX: -504px, backgroundY: -476px),
    school_white: (width: 68.7px, height: 49px, backgroundX: -610px, backgroundY: -554px),
    teacher: (width: 60px, height: 60px, backgroundX: -689px, backgroundY: -613px),
    teacher_dark: (width: 60px, height: 60px, backgroundX: -759px, backgroundY: -683px),
    teacher_white: (width: 49px, height: 49px, backgroundX: -829px, backgroundY: -753px),
);